<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lborof028685.evassist2">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.lborof028685.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.lborof028685.permission.MAPS_RECEIVE" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ChargingStationActivity"
            android:exported="false"
            android:parentActivityName=".ChargingActivity" />
        <activity
            android:name=".RegisterUserActivity"
            android:exported="false" />
        <activity
            android:name=".NewsActivity"
            android:exported="false" />
        <activity
            android:name=".ArticleFragment"
            android:exported="false"
            android:parentActivityName=".NewsActivity" />
        <activity
            android:name=".ChargingActivity"
            android:exported="false" />

        <meta-data
            android:name="com.here.sdk.access_key_id"
            android:value="ZLyfs2dISLkI9s9a-dRkew" />
        <meta-data
            android:name="com.here.sdk.access_key_secret"
            android:value="sEzXvuf5BgcrE8B8r36TqklKRqwTGVhWk1wiG6ln-0VnuB4DJ5mIPU3F9l0DwWTw-q80Nq_eXb7luZ53BMDZ_Q" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAHe1X5n31RU5xxDCOm7byhXuQHLwFb-7A" />

        <activity
            android:name=".GuideActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>